<!doctype html>
<html>
  <head>
    <title>Hello World Demo!!!</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  </head>
  <body>
   <div class="container">
   <div class="jumbotron" style="background-color:DodgerBlue">
    <h1>Hello World example</h1>
    <p> This is our App Version blue </p>
    <p> On worker {{ inventory_hostname }} </p>
    <p></p>
   </div></div>
  </body>
</html>
